<h1>Create New Post</h1>
<form method="post">
    <fieldset>
        <label for="title">Title: *</label>
        <input name="title" id="title" required />
    </fieldset>
    <fieldset><label for="body">Body: *</label>
        <textarea name="body" id="body" required></textarea>
    </fieldset>
    <fieldset>
        <label for="username">Username: *</label>
        <input name="username" id="username" type="hidden" value="{{user.username}}" />
        <input name="usernameDisplay" id="usernameDisplay" required disabled value="{{user.username}}" />
    </fieldset>
    <button class="btn btn-info offset-4">
        <i class="bi bi-plus-circle"></i> Save
    </button>
</form>