<h1>{{post.title}}</h1>
{{post.body}}
<p>Posted: 
    <span class="badge text-bg-secondary">{{post.date}} </span>
    by {{post.username}}
</p>
<a href="/posts" class="btn btn-info">
    <i class="bi bi-skip-backward-fill"></i> Back to Blog
</a>